<!DOCTYPE html>
<html lang="en">
<body>
    <span class="table_cart cart" id="table_cart">
        <div class="container-table">
        <div class="table_tittle">
            <a>Pedido</a>
        </div>
        <div class="table_header">
            <a>Imagen</a>
        </div>
        <div class="table_header">
            <a>Precio</a>
        </div>
        <div class="table_header">
            <a>Cantidad</a>
        </div>
        <div class="table_header">
            <a>Subtotal</a>
        </div>
        <div class="table_item">
            <img>
        </div>
        <div class="table_item">
            <a></a>
        </div>
        <div class="table_item">
            <i class="fas fa-minus"></i>
            <a></a>
            <i class="fas fa-plus"></i>
        </div>
        <div class="table_item">
            <a></a>
        </div>
        <div class="table_tot">
            <a></a>
        </div>
        <div class="table_preu">
            <a></a>
        </div>
    </div>
    <div class="button-cart">
        <a class="btn-cart botones">Seguir Comprando</a>
        <a class="btn-cart botones">Finalizar Compra</a>
    </div>
    </span> 
</body>
</html>